@page
@model GroceryStoreSystem.Pages.Admin.QrCodeModel
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "分享二维码";
}

<div class="row g-4">
    <div class="col-lg-6">
        <form method="get" class="card form-card">
            <div class="card-body">
                <label class="form-label" asp-for="ShareUrl">分享链接</label>
                <input class="form-control" asp-for="ShareUrl" />
            </div>
            <div class="card-footer bg-white text-end">
                <button class="btn btn-primary" type="submit">生成二维码</button>
            </div>
        </form>
    </div>
    <div class="col-lg-6">
        <div class="card table-card">
            <div class="card-body text-center">
                @if (!string.IsNullOrWhiteSpace(Model.ShareUrl))
                {
                    var encoded = System.Net.WebUtility.UrlEncode(Model.ShareUrl);
                    <img class="img-fluid border rounded p-3 bg-white" style="max-width: 280px;" src="/api/admin/qrcode/image?url=@encoded" alt="分享二维码" />
                    <div class="mt-3">
                        <a class="btn btn-outline-primary" href="/api/admin/qrcode/download?url=@encoded">下载二维码</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
